html, body {
    height: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.sidebar, .content {
    display: flex;
    min-height: 100%;
}

.sidebar {
    width: 33%;
    min-height: 100%;
    flex: auto;
    background: center no-repeat url("../img/casey-horner-75_s8iWHKLs-unsplash.webp");
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 66%;
    min-height: 100%;
    flex: 2 2 auto;
}

