@font-face {
    font-family: 'Flavors';
    src: url('Flavors-Regular.woff2') format('woff2'),
        url('Flavors-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

